# Laravel & PHP
/vendor
/node_modules
/storage/*.key
/storage/pail
/storage/app/*
!/storage/app/public
/storage/framework/*
/storage/logs
/bootstrap/cache
/public/storage
/public/hot
/public/build

# PHPUnit
.phpunit.result.cache
/.phpunit.cache

# Configs & Environment
.env
.env.backup
.env.production
Homestead.json
Homestead.yaml
auth.json
.phpactor.json

# IDE / Editor
/.idea
/.vscode
/.fleet
/.nova
/.zed

# Logs & Debug
npm-debug.log
yarn-error.log
